<!DOCTYPE html>
<html lang="en">
<head>
  <title>PyStyl | Computational Stylistics with Python</title>
  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <h1>PyStyl | Computational Stylistics with Python</h1>
    <p>The power of stylometry brought to your browser</p>
            {% block content %}
            {% endblock %}
</div>

</body>
</html>