<!DOCTYPE html>
<html lang="en">
<head>
  <title>PyStyl | Computational Stylistics with Python</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript">
      jQuery(document).ready(function ($) {$('#tabs').tab();});
</script>
</head>
<body>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<div class="container-fluid">

    <h1>PyStyl | Computational Stylistics with Python</h1>
    <p>The power of stylometry brought to your browser</p>

    <div class="content">
            {% block content %}
            {% endblock %}
    </div>

</div>


</body>
</html>