<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<script src="{{url_for('.static', filename='js/pystyl.js')}}" type="text/javascript"></script>

<div class="pure-g">
<div class="pure-u-1-2">
    <form class="pure-form pure-form-aligned" action="" method="GET" id="settings">
        <div id="import-settings">
        <fieldset>
                <div class="pure-control-group">
                    <label for="directory">Directory</label>
                    <input name="directory" type="text">
                </div>

                <div class="pure-control-group">
                    <label for="segment_size">Segment Size</label>
                    <input name="segment_size" type="number" value="2000">
                </div>

                <div class="pure-control-group">
                    <label for="textsize">Minimum text size</label>
                    <input name="textsize" type="number" value="100">
                </div>

                <div class="pure-control-group">
                    <label for="language">Language</label>
                    <select name="language" class="pure-input-1-2">
                        <option value="en">English</option>
                        <option value="nl">Dutch</option>
                        <option value="fr">French</option>
                        <option value="gr">German</option>
                    </select>
                </div>

            <div class="pure-controls">
               <a id="upload" href="#" class="pystyl-button pure-menu-link">
                <i class="fa fa-upload"></i>
               Upload</a>
            </div>

            </fieldset>
        </div>
    </form>
    <form class="pure-form pure-form-aligned" action="" method="GET" id="metrics">
        <div id="pystyl-settings">
            <fieldset>
                <div class="pure-control-group">
                    <label for="model">Vector Space Model</label>
                    <select name="model" class="pure-input-1-2">
                        <option value="tf">Term frequency</option>
                        <option value="tfidf">Tf-Idf</option>
                        <option value="binary">Binary</option>
                        <option value="std">Std</option>
                    </select>
                </div>

                <div class="pure-control-group">
                    <label for="metric">Distance metric</label>
                    <select name="metric" class="pure-input-1-2">
                        <option value="euclidean">Euclidean</option>
                        <option value="cosine">Cosine</option>
                        <option value="manhattan">Manhattan</option>
                        <option value="minmax">MinMax</option>
                    </select>
                </div>

                <div class="pure-control-group">
                    <label for="scale" class="pure-checkbox">Scale</label>
                        <input name="scale" type="checkbox">
                </div>

                <div class="pure-controls">
                   <a id="maakresultaten" href="#" class="pystyl-button pure-menu-link">
                   <i class="fa fa-calculator"></i>
                   PyStylize</a>
                </div>
            </fieldset>
        </div>
    </form>

    <form class="pure-form pure-form-aligned" action="" method="GET" id="visuals">
        <div id="visualize-settings">
            <fieldset>
                <div class="pure-control-group">
                    <label for="plot">Visualization Method</label>
                    <select name="plot" class="pure-input-1-2">
                        <option value="euclidean">PCA</option>
                        <option value="cosine">Dendrogram</option>
                        <option value="manhattan">VNC</option>
                        <option value="minmax">TSNE</option>
                    </select>
                </div>

                <div class="pure-controls">
                   <a id="makeagraph" href="#" class="pystyl-button pure-menu-link">
                   <i class="fa fa-bar-chart"></i>
                   Visualize</a>
                </div>                
            </fieldset>
        </div>
    </form>

</div>

<div class="pure-u-1-2">
   <div id="image-output"></div>
</div>
</div>

{% endblock %}
