<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<!-- add pystyl specific javascript -->
<script src="{{url_for('.static', filename='js/pystyl.js')}}" type="text/javascript"></script>

<div class="row-fluid"> <!-- begin of two-column panel -->
    <div class="col-sm-6"> <!-- begin of left panel -->
        
        <div class="form-group">&nbsp;</div> <!-- just add some vertical space -->
        
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs"> <!-- begin of tab menu in left panel -->
            <li class="active"><a href="#import" data-toggle="tab">Import</a></li>
            <li><a href="#preprocess" data-toggle="tab">Preprocess</a></li>
            <li><a href="#features" data-toggle="tab">Features</a></li>
            <li><a href="#visualize" data-toggle="tab">Visualize</a></li>
        </ul>

        <div id="my-tab-content" class="tab-content"> <!-- begin tab content -->
            <div class="tab-pane active" id="import"> <!-- begin import tab -->
                <form class="form-horizontal" id="import-settings-id" name='import-settings-name'>
                    <div class="form-group">&nbsp;</div> <!-- just add some vertical space -->
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Input files</label>
                        <div class="col-sm-8">
                            <span class="btn btn-file"><input type="file" id="files-id" name='files-name' multiple/></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">File extension</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="txt" id="extension-id" name='extension-name'>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Remove non-alpha</label>
                        <div class="col-sm-8">
                            <input type="checkbox" id="remove-alpha-id" name='remove-alpha-name'>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Lowercase</label>
                        <div class="col-sm-8">
                            <input type="checkbox" id="lowercase-id" name='lowercase-name'>
                        </div>
                    </div>
                </form>
                <div class='text-center'>
                    <button type="button" id="import-btn" class="btn btn-default">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> import
                    </button>
                </div>
            </div> <!-- end of import tab -->

            <div class="tab-pane" id="preprocess">
                <form class="form-horizontal" id="preprocessing-settings-id" name='preprocessing-settings-name'>
                    <div class="form-group">&nbsp;</div>
                    <label class="col-sm-3 control-label">Select language</label>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <select class="form-control" id="language-id" name='language-name'>
                                <option>English</option>
                                <option>Dutch</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">&nbsp;</div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Minimum size</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="2500" id="min-size-id" name='min-size-name'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="max_size" class="col-sm-3 control-label">Maximum size</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="0" id="max-size-id" name='max-size-name'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Segment size</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="0" id="segment-size-id" name='segment-size-name'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Step size</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="0" id="step-size-id" name='step-size-name'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Remove pronouns</label>
                        <div class="col-sm-8">
                            <input type="checkbox" id="remove-pronouns-id" name='remove-pronouns-name'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment" class="col-sm-3 control-label">Remove these items too (each item on a separate line):</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="5" id="comment" id="remove-items-id" name='remove-items-name'></textarea>
                        </div>
                    </div>
                </form>
                <div class='text-center'>
                    <button type="button" id="preprocess-btn" class="btn btn-default">
                        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> preprocess
                    </button>
                </div>
            </div> <!-- end of preprocess tab -->

            <div class="tab-pane" id="features">
                <form class="form-horizontal" id="features-settings-id" name='features-settings-name'>
                    <div class="form-group">&nbsp;</div>
                    <label class="col-sm-3 control-label">Vector space</label>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <select class="form-control" id="vector-space-id" name='vector-space-name'>
                                <option>Tf</option>
                                <option>Scaled</option>
                                <option>Std</option>
                                <option>TfIdf</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">&nbsp;</div>
                    <label class="col-sm-3 control-label">Feature type</label>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <select class="form-control" id="feature-type-id" name='feature-type-name'>
                                <option>Words</option>
                                <option>Characters</option>
                                <option>Characters (in words)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">&nbsp;</div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Ngram size</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="1" id="ngram-size-id" name='ngram-size-name'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">MFI</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="100" id="mfi-id" name='mfi-name'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Minimum DF</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="0.0" id="min-df-id" name='min-df-name'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Maximum DF</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="0.90" id="max-df-id" name='max-df-name'>
                        </div>
                    </div>
                </form>
                <div class='text-center'>
                    <button type="button" id="features-btn" class="btn btn-default">
                        <span class="glyphicon glyphicon-scale" aria-hidden="true"></span> featurize
                    </button>
                </div>
            </div> <!-- end of features tab -->

            <div class="tab-pane" id="visualize">
                <h1>Visualize</h1>
                <p>yellow yellow yellow yellow yellow</p>
                <div class='text-center'>
                    <button type="button" id="visualize-btn" class="btn btn-default">
                        <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> visualize
                    </button>
                </div>
            </div> <!-- end of visualisation tab-->

        </div>


    </div> <!-- end of left panel -->

    <div class="col-sm-6"> <!-- begin of right panel -->
        <h4>output</h4>
        <div id="image-output"></div>
    </div> <!-- end of right panel -->

</div>

{% endblock %}